@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700&display=swap&subset=japanese');

html {
    font-size: 62.5%;
    color: #fff;
    line-height: 1.75;
}

::selection {
    background: #fc0037;
}



body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #000;
    background-image: url("images/pattern.png");
    background-size: 180px 120px;
    background-attachment: fixed;
    box-sizing: border-box;
}

main {
    width: 100%;
    text-align: center;
}

model-viewer {
    width: 100%;
    height: 375px;
    outline: none;
}


.logo {
    /* width: 55%; */
    margin: 60px auto;
    max-width: 700px;
}

.logo img {
    width: 100%;
}

.logo_mini {
    max-width: 240px;
    margin: 30px auto 40px;
}

.desc {
    text-align: center;
    font-style: italic;
    margin: 0 16px 50px;
}

.desc p {
    font-size: 2.0rem;
    font-weight: 700;
}

.desc span {
    display: inline-block;
}

.ar {
    margin: 0 auto;
    text-align: center;
    max-width: 700px;
}

.ar__model {
    width: 100%;
    margin-bottom: 50px;
}

.ar__model__reveal {
    position: relative;
}


.ar__model__reveal__title {
    width: 100%;
    position: absolute;
    top: 10px;
    font-size: 20px;
    text-align: left;
}

.ar__model__reveal__title h3 {
    font-style: italic;
    margin: 0;
    margin-left: 20px;
}

.ar__model__reveal__title p {
    font-style: italic;
    margin: 0;
    margin-left: 20px;
    font-size: 12px;
}


.ar__model__reveal__text {
    width: 100%;
    color: rgb(139, 139, 139);
}


.ar__other {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
}

.ar__other h3 {
    font-size: 18px;
    font-style: italic;
    margin-bottom: 14px;
}

.ar__other__models {
    display: flex;
    padding-bottom: 20px;
}

.ar__other__model {
    margin: 0 10px;
}

.ar__other__model img {
    width: 100%;
}


.guide {
    font-size: 14px;
    margin: 0 auto;
    max-width: 700px;
    color: rgb(139, 139, 139);
}

.guide a {
    color: rgb(139, 139, 139);
}

.guide img {
    width: 32px;
    margin-right: 8px;
    vertical-align: -9px;
}

.guide__tap {
    margin-top: 14px;
}


.guide__tap img{
    margin-left: 8px;
}

.guide__attention p {
    margin: 6px;
}


.guide__attention {
    margin: 20px 16px 50px;
    text-align: left;
    font-size: 1.2rem;
}


.guide__about {
    margin: 50px 16px 120px;
    ;
    text-align: left;
}

.guide__about h2 {
    font-size: 2.4rem;
    margin-bottom: 0px;
    font-weight: 400;
}

.guide__about img {
    vertical-align: -4px;
}

.guide__about p {
    margin: 6px 0;
}

hr {
    width: 60%;
    max-width: 140px;
    border-top: 1px solid #fff;
}

footer {
    width: 100%;
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 20px;
}

footer a {
    color: #fff;
}

@media screen and (max-width: 720px) {
    .logo {
        width: 90%;
        margin: 60px auto;
    }
    .ar__other__models {
        margin-right: 10px;
        margin-left: 10px; 

    } 
    .ar__other__model {
        margin: 0 5px;
    }
}